.search{
    margin-top: 0;
    /* margin-left: 500px; */
    display: flex;
   
    width: 400px;
    position: absolute;
    background-color: white;
}
hr{
    width: 100%;
}

.searchpost{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid teal;
    font-size: 18px;
    transition: .5s;
    /* background-image: url('https://cdn-icons-png.flaticon.com/512/482/482631.png'); */
    background-size: 40px 40px;
    background-repeat:no-repeat;
    background-size: cover;
}
.sbody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchpostcon{
    /* background-color: pink; */
position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
    margin-bottom: 20px;
   
}

.searchpostcon i img{
    position: absolute;
    top: 50%;
    width: 20px;
    transform: translate(-50%,-50%);
}


.searchposts  {
    text-decoration: none;
    color: black;
  
     width: 500px;

  background-color: lightgrey;
   box-shadow: 5px 5px 5px black;
}
.searchposts a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
  background-color: lightgrey;
}

.searchpostcon:hover i{
    opacity: 0;
}
.searchpostcon:hover .stext{
  visibility: none;
}


.searchpostcon:hover input{
background: none;
 width: 300px;
 border-radius: 5px;
}

.stext{
   
 display: flex;
align-items: center;
justify-content: center;
}